.faqs{
    padding-top: 10px;
    position: relative;
    background: #fff;
    padding-bottom: 80px;
    .bg-image{
        height: 132px;
        width: 100%;
        background-image: url(../../../assets/img/faqs.jpg);
        background-position: 0px -180px;
        background-repeat: no-repeat;
        background-size: 100%;    
    }
    .container{
        .row{
            .col{
                .content{
                    background: #FBFAF8;
                    width: 100%;
                    position: relative;
                    float: left;
                    margin-top: -60px;
                    padding: 32px;
                    .title{
                        font-size: 32px;
                        color: #AB4949;
                        font-weight: 600;
                        padding-bottom: 32px;
                    }
                    .list-item{
                        width: 100%;
                        float: left;
                        position: relative;
                        .item{
                            color: #413737;
                            padding-bottom: 32px;
                            .item-title{
                                font-size: 24px;
                                font-weight: 600;
                                padding-bottom: 15px;
                            }
                            .item-content{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) and (min-width: 574px){
    .faqs{
        .bg-image{    
            background-position: inherit;
        }
        .container{
            .row{
                .col{
                    .content{
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 574px) and (min-width: 320px){
    .faqs{
        .bg-image{    
            background-position: inherit;
        }
        .container{
            .row{
                .col{
                    .content{
                        padding: 0;
                    }
                }
            }
        }
    }
}