<div class="faqs">
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="content">
                    <div class="title">
                        Frequently Asked Questions and Helps
                    </div>
                    <div class="list-item row">
                        <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-title">
                                Do you sell wine suitable for vegetarians and vegans?
                            </div>
                            <div class="item-content">
                                People can identify themselves as vegetarian or vegan in a variety of ways. We, along with many in the wine trade use the definitions provided by The Vegetarian Society and The Vegan Society. We have asked our producers if their wines are suitable and lists of the wines can be found
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-title">
                                Do you sell wine suitable for vegetarians and vegans?
                            </div>
                            <div class="item-content">
                                People can identify themselves as vegetarian or vegan in a variety of ways. We, along with many in the wine trade use the definitions provided by The Vegetarian Society and The Vegan Society. We have asked our producers if their wines are suitable and lists of the wines can be found
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-title">
                                Do you sell wine suitable for vegetarians and vegans?
                            </div>
                            <div class="item-content">
                                People can identify themselves as vegetarian or vegan in a variety of ways. We, along with many in the wine trade use the definitions provided by The Vegetarian Society and The Vegan Society. We have asked our producers if their wines are suitable and lists of the wines can be found
                            </div>
                        </div>
                        <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-title">
                                Do you sell wine suitable for vegetarians and vegans?
                            </div>
                            <div class="item-content">
                                People can identify themselves as vegetarian or vegan in a variety of ways. We, along with many in the wine trade use the definitions provided by The Vegetarian Society and The Vegan Society. We have asked our producers if their wines are suitable and lists of the wines can be found
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>